.container {
   max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.title {
    display: flex;
    width: 100%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 112.4%;
    justify-content: center;
    margin-bottom: 60px;

    color: #000000;
}
